
Creator_strategy_patter/bin/Debug/net5.0/ref/Creator_strategy_patter.dll
Creator_strategy_patter/bin/Debug/net5.0/Creator_strategy_patter.runtimeconfig.json
Creator_strategy_patter/bin/Debug/net5.0/Creator_strategy_patter.runtimeconfig.dev.json
Creator_strategy_patter/bin/Debug/net5.0/Creator_strategy_patter.pdb
Creator_strategy_patter/bin/Debug/net5.0/Creator_strategy_patter.exe
Creator_strategy_patter/bin/Debug/net5.0/Creator_strategy_patter.dll
Creator_strategy_patter/bin/Debug/net5.0/Creator_strategy_patter.deps.json
Creator_strategy_patter/.vs/Creator_strategy_patter/v16/.suo
*.props
*.json
